<app-header>

  <h1>Listagem</h1>

  <div class="demo-list-action mdl-list">
    <div class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-avatar">person</i>
        <span>Bryan Cranston</span>
      </span>
      <span [ngClass]="{'hidden': !isHidden}">favoritado!</span>
      <a class="mdl-list__item-secondary-action" href="#" (click)="favoritar()"><i class="material-icons">star</i></a>
    </div>
  </div>

  <h1>Ataques</h1>

  <button class="mdl-button mdl-js-button mdl-button--raised" (click)="calcD20()">
    Rodar D20
  </button>
  <span>{{d20}}</span>
  
  <input type="text" (input)="getValue($event)" />

  {{valueInput}}

  <h1>Cadastro</h1>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input (input)="getFormValue($event, 'nome')" class="mdl-textfield__input" type="text" id="nome">
    <label class="mdl-textfield__label" for="nome">Nome</label>
  </div>
  {{form.nome}}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input (input)="getFormValue($event, 'raca')" class="mdl-textfield__input" type="text" id="raca">
    <label class="mdl-textfield__label" for="raca">Raça</label>
  </div>
  {{form.raca}}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input (input)="getFormValue($event, 'classe')" class="mdl-textfield__input" type="text" id="classe">
    <label class="mdl-textfield__label" for="classe">Classe</label>
  </div>
  {{form.classe}}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input (input)="getFormValue($event, 'nivel')" class="mdl-textfield__input" type="text" id="nivel">
    <label class="mdl-textfield__label" for="nivel">Nível</label>
  </div>
  {{form.nivel}}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input (input)="getFormValue($event, 'telefone')" class="mdl-textfield__input" type="text" id="telefone">
    <label class="mdl-textfield__label" for="telefone">Telefone</label>
  </div>
  {{form.telefone}}

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
    Salvar
  </button>
</app-header>